/*Reset*/
* {
    margin: 0;
    padding: 0;
    font-size: 100%;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

a {
    text-decoration: none;
}

/*Header */
header {
    margin: 0 auto;
    height: 300px;
    text-align: center;
    background-image: url("https://picsum.photos/id/1036/1920/1080");
    background-size: cover;
}

header .logo {
    padding: 20px;
    color: #FFF;
}

header .logo img {
    border-radius: 15px;
}

header .logo h3 {
    font-size: 1.2rem;
    text-transform: uppercase;
}

header .content {
    height: 100%;
    width: 100%;
    color: #FFF;
}

header .content h1 {
    font-size: 1.5rem;
    margin: 20px;
}

header .content a {
    padding: 10px 30px;
    color: #121212;
    background: #FFF;
    font-weight: bold;
}

/*Main*/

main {
    margin: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

main .intro {
    width: 100%;
    margin: 20px 0;
    color: #313131;
}

main .intro h1 {
    font-size: 2.3rem;
}

main .intro p {
    font-weight: bold;
    font-size: 0.7rem;
}

main .categories {
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
    width: 100%;
}

main .categories .content {
    width: 100%;
    height: 200px;
    padding: 20px;
    background: url(https://picsum.photos/id/152/1920/1080) center center;
    opacity: 0.9;
    background-size: cover !important;
}

main .categories #daily {
    background: url(https://picsum.photos/id/3/1920/1080) center center;
}

main .categories #togheter {
    background: url(https://picsum.photos/id/274/1920/1080) center center;
}

main .categories #analysis {
    background: url(https://picsum.photos/id/352/1920/1080) center center;
}

main .categories #pictures {
    background: url(https://picsum.photos/id/318/1920/1080) no-repeat center center;
}

main .categories .content h1 {
    font-size: 1.3rem;
    color: #FFF;
    opacity: 1 !important;
}

main .categories .content p {
    font-weight: bold;
    color: #FFF;
    opacity: 1 !important;
}

/*Plans*/
.plans-section {
    background: rgb(242, 242, 242);
}

.plans {
    width: 100%;
    margin: 0 auto;
}

.plans .intro {
    margin: 20px;
    padding: 10px;
    color: #313131;
}

.plans .intro h1 {
    font-size: 2.3rem;
}

.plans .intro p {
    font-weight: bold;
    font-size: 0.7rem;
}

.plans .prices {
    display: flex;
    flex-direction: column;
    margin: 15px;
    padding: 10px;
}

.plans .prices .price {
    margin: 5px;
    color: #FFF;
    background: rgb(0, 125, 234);
}

.plans .prices .price .value {
    background: rgb(0, 74, 142);
}

.plans .prices .price .value h3 {
    font-size: 1.2rem;
    padding: 5px;
}

.plans .prices .price .value h4 {
    padding: 5px;
    padding: 5px;
}

.plans .prices .price p {
    padding: 5px;
    width: 100%;
    font-size: 0.6rem;
}

.plans .prices #price1 {
    width: 50%;
}

.plans .prices #price2 {
    width: 60%;
}

.plans .prices #price3 {
    width: 70%;
}

.plans .prices #price4 {
    width: 80%;
}

.plans .prices #price5 {
    width: 90%;
}

.plans .prices #price6 {
    width: 100%;
}

/*Breakpoints*/
@media (min-width: 700px) {
    /*Main*/
    main .intro {
        max-width: 900px;
    }

    main .categories {
        grid-template-columns: 1fr 1fr 1fr;
        max-width: 900px;
    }

    main .categories .content {
        height: 300px;
    }

    main .categories #daily {
        grid-column: span 2;
    }
    
    main .categories #togheter {
        grid-column: span 3;
    }
    
    main .categories #analysis {
        grid-column: span 2;
    }
    
    /*Plans*/
    .plans {
        max-width: 900px;
    }

    .plans .intro {
        position: relative;
        margin: 0 20px;
        top: 90px;
    }

    .plans .prices {
        flex-direction: row;
        align-items: flex-end;
    }
    
    .plans .prices .price {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: space-between;
    }

    .plans .prices .price .value {
        width: 100%;
    }

    .plans .prices .price {
        width: 100%!important;
    }

    .plans .prices .price .value h4 {
        font-size: 0.8rem;
    }

    /*Prices*/
    .plans .prices #price1 {
        height: 170px;
    }
    
    .plans .prices #price2 {
        height: 190px;
    }
    
    .plans .prices #price3 {
        height: 210px;
    }
    
    .plans .prices #price4 {
        height: 230px;
    }
    
    .plans .prices #price5 {
        height: 250px;
    }
    
    .plans .prices #price6 {
        height: 270px;
    }
}